/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default styles */
body {
    text-align: right;
    line-height: 1.5; /* Space between lines of text */
    color: #fff; /* White text color for black background */
    font-family: Arial, sans-serif;
    background-color: grey; /* Black color */
    padding-top: 50px; /* Space for the fixed navbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 1003;
    text-align: center;
}

header h1 {
    z-index: 10002;
    position: relative;
    bottom: 22px;
    left: -650px;
    margin-left: 15px; /* Adjust this value as needed */
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    margin: 0;
}

/* Navigation bar styling */
nav {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 1600;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    color: black;
    margin: 0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*  color on hover */
nav a:hover {
    background-color: grey;
    color: whitesmoke;
}

/* Content section styling */
section {
    text-align: center;
    margin: auto;
    padding: 3em;
    width: 100%; /* Adjusted to take full width */
    margin-top: 70px; /* Space for the fixed navbar */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Light-bulb styling */
.light-bulb {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 650px; /* Adjust the left position as needed */
    right: 65px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.light-bulb img {
    padding-bottom: 10px;
    max-width: 137px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}

.light-bulb #lighton {
    display: none;
}

.light-bulb:hover #lighton {
    display: block;
}

.light-bulb:hover #lightoff {
    display: none;
}

/* Add padding to the image */
img {
    float: left;
    padding: 0.2em;
    margin-right: 5%; /* Adjusted to take 5% of the container width */
    width: 65%; /* Adjust this value as needed */
    height: auto; /* Keeps the aspect ratio */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust this value to change the space between the images */
    justify-content: center; /* Horizontal centering */
    align-content: center; /* Vertical centering */
}

.image-grid img {
    width: 100%; /* Full width of the cell */
    height: auto; /* Keep the aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire area of the cell without distortion */
    display: block; /* Removes the default space below the image */
    margin: 0 auto; /* Centers the image within its cell */
}
#about {
    margin-top: 180px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Clear the float after the image */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style for the content sections */
section {
    text-align: center;
    margin: auto;
    padding: 2em;
    width: 100%; /* Adjusted to take full width */
    margin-top: 50px; /* Space for the fixed navbar */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Push footer to the bottom */
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Contact Me section styling */
#contact {
    justify-content: center;
    text-align: center;
    padding: 0px; /* Space around the paragraph */
    margin: 4px auto; /* Space above and below the paragraph */
    line-height: 1.5; /* Space between lines of text */
    text-indent: 50px; /* Indentation of the first line */
    color: white;
    align-items: center;
    background-color: transparent; /* Transparent background */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    letter-spacing: 0.1em; /* Additional space between letters */
}

/* CSS for medium screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 0.8em;
    }

    header {
        margin-left: 20px;
    }

    img {
        float: left;
        padding: 0.2em;
        margin-right: 20px; /* Adjust this value as needed */
        width: 100%; /* Adjust this value as needed */
        height: auto; /* Keeps the aspect ratio */
    }

    nav ul {
        flex-direction: column;
    }

    nav a {
        padding: 10px 12px;
    }
}

/* CSS for small screens */
@media screen and (max-width: 480px) {
    body {
        font-size: 0.6em;
    }

    header {
        margin-left: 10px;
    }

    img {
        float: left;
        padding: 0.2em;
        margin-right: 10px; /* Adjust this value as needed */
        width: 100%; /* Adjust this value as needed */
        height: auto; /* Keeps the aspect ratio */
    }

    nav ul {
        flex-direction: column;
    }

    nav a {
        padding: 2px 4px;
    }
}
